body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sizing{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}
.animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

  

@-webkit-keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
@keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
.c-item{
  height: 100vh;
}
.circle{
  height: 130px;
  width: 130px;
  background-color: #FC7813;
  border-radius: 50%;
  justify-content: center;
  
}
.overflow1{
  overflow-x: hidden;
}
.carousel-caption{
  text-align: left !important;
  left: 7% !important;
  padding-top: 20rem !important;
}
.setcolor{
  color: #3E8F75;
  font-family: 'Amita';
}
.hfixer{
font-size: 48px;
font-weight: bolder;
font-family: 'Outfit';
}
.pfixer{
  font-weight: lighter;
  font-size: 18px;
  font-family: 'Montserrat';
}
.navbar-nav{
  justify-content: space-evenly;
}
.nav-item{
  font-size: 18px;
}
.nav-link{
  color: white !important;
}
.hide{
  display: none;
}
.nav-link:hover{
  color: #FFE132 !important;
}
.padder{
  padding-left: 8rem !important;
}
.imager{
  padding-left: 8rem !important;
}

.padd{
  padding-top: 2.6rem;
}
.texter{
  font-family: 'Inter';
  font-size: 22px;
}
.back{
  background-image: url('./Images/bg1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 160vh;
}
.backer{
  background-color: #E2EEE0;
}
.backf{
  background-image: url('./Images/flag.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  
}
.align{
  font-size: 25px;
  font-weight: 400;
  line-height: 72px;
}
.aligner{
  margin: 0;
  padding: 0;
}
.hero{
  background-color: #F5F8FA;
}
.setter{
  color: #FC7813;
}

.back1{
  background-color: black;
}
.alignment{
  padding: 0;
  margin: 0;
  color: black;
  font-weight: 500;
  
}
@media only screen and (max-width: 760px){
  .image-align{
    width: 50% !important;
    height: 45% !important;
    text-align: center;
  }
  .padder{
    padding-left: 0rem;
  }
  .imager{
    display: none;
  }
}